.navbar { 
    display: flex;
    width: 100%;
    padding: 20px 14%;
    justify-content: space-between;
    position: absolute;
    height: 80px;
    left: 0;
    top: 0;
    align-items: center;
    z-index: 2;
    background-color: var(--bg);
}


.navbar-logo {
    /* color: var(--primary); */
    font-family: Oswalds;
    font-weight: 500;
    font-size: .98rem;
}

.button {
    width: fit-content;
    border: none;
    padding: 10px 52px;
    border-radius: 6px;
    font-family: Oswalds;
    font-size: .68rem;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.741);
    /* box-shadow: 0 0 1px white; */
    /* background-color: var(--primary); */
    color: white;
    cursor: pointer;
}

.mobile-menu-icon {
    display: none;
}

.navbar-navigation{
    display: flex;
    gap: 28px;
    font-size: .72rem;
}

.navbar-navigation > span {
    cursor: pointer;
    padding: 4px;
}

.mobile-slider {
    width: 100%;
    background-color: var(--bg);
    display: block;
    position: fixed;
    right: 0;
    top: 80px;
    height: 10vh;
    z-index: 2;
    padding: 32px 8%;
    padding-bottom: 60px;
    display: flex;
    justify-content: center;
}

.mobile-slider .navbar-navigation {
    display: flex;
    gap: 80px;
}

.slider-button {
    position: static;
    display: none;
    bottom: auto;
}

.exit-icon {
    position: absolute;
    right: 4%;
    top: 20px;
    font-size: 1.2rem;
}

@media screen and (max-width: 600px) {
    .navbar-navigation {
        display: none;
    }

    .navbar > .button {
        display: none;
    }

    .navbar {
        flex-direction: row-reverse;
        padding: 20px 6%;
    }


    .navbar-logo {
        justify-self: center;
    }

    .mobile-menu-icon {
        display: flex;
        font-size: 1.6rem;
        z-index: 2;
        position: relative;
    }

    .mobile-slider {
        width: 100%;
        background-color: rgb(35, 35, 35);
        display: block;
        position: fixed;
        right: 0;
        top: 0;
        height: 100vh;
        z-index: 2;
        padding: 32px 8%;
        padding-top: 60px;
    }

    .mobile-slider .navbar-navigation {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 2px;

        span {
            width: 100%;
            border-bottom: 1px solid rgb(120, 120, 120, .3);
            padding: 20px 16px;
        }

        span:last-child  {
            border-bottom: none;
        }
    }

    .slider-button {
        position: absolute;
        bottom: 72px;
        width: 84%;
    }

}